{
  "extends": "airbnb",
  "rules": {
    "linebreak-style": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unescaped-entities": 0,
    "operator-linebreak": 0,
    "arrow-parens": 0, 
    "react/jsx-filename-extension": 0
  }
}

// "react/prop-types": 0, // disable props validation using react/prop-types